# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
.venv/
.env/
.envrc
pip-log.txt
pip-delete-this-directory.txt

# VSCode
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Node/npm (caso use
